* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

.header {
    display: flex;
    text-align: center;
    background: url('../img/header.png') no-repeat center center;
    background-size: cover;
    min-height: 54vh;
    justify-content: space-between;
    align-items: center;
    flex-flow: column nowrap; 
    opacity: 0.9;
}

.h1-for-header, .p-for-header, .a-for-header{
    color:white;
    line-height: 1.5;
    font-size:20px;     
}


.h1-for-header {
    font-size:38px;
    font-weight: bold;
    margin-top: 12vh;
}

.p-for-header {  
    padding:1% 20%;
    margin-bottom: 1vh;
}

.a-for-header, 
.a-for-header:hover {
    border: 1px solid #666;    
    padding: 15px 30px;
    text-decoration: none;
    margin-bottom: auto;
        
}

.a-for-header, .card-holder {
    background-color: #333;    
}

.a-for-header:hover{
    background-color: white;
    color:#666;   
    
}

.article-dev{
    padding:30px 0 40px 0;
}
.h1-dev-info{
    font-size: 26px;
    text-align: center;
    font-weight: bold;
}

.p-dev-info, .p-handle{
    font-size: 18px;      
    margin: 2% 25%;
    text-align: center;
    line-height: 1.5;
}

.p-dev-info{
    column-count: 2; 
    column-gap: 30px;
}

.card-holder {
    display: flex;
    justify-content: center; 
}

.card {
    display: flex;    
    flex-flow: column; 
    justify-content: space-between;   
    background-color: white;
    width: 16%;
    margin: 40px 10px;
    text-align: center;
    min-height: 530px;
    color:black;
    }

.h1-for-card {
    font-weight: bold;
    font-size: 20px;
    margin-top:60px;   
}

.p-for-card{
    font-size: 19px;
    margin:20px 20px auto;
    line-height: 1.5;
}

.article-handle{
    padding:70px 0 40px 0;
}

.contact-about-holder {
    display: flex;
}

.h1-contact-about, .p-contact-about {
    text-align: center;
    line-height: 1.5;
    margin: 40px;
    color:white;
}

.black-block, .blue-block {
    width: 50%;
}

.black-block{
    background-color: #333;
}

.blue-block{
    background-color: #2690d4;
}

.h1-contact-about {
    font-weight: bold;
    font-size:26px;
}

.p-contact-about{
    font-size: 18px;
    font-weight: 500;
}

.footer{
    display: flex;
    background-color: black;
}

.p-footer {
    width:50%;
    text-align: center;
    color:white;
    margin:40px;
    font-size:18px;
}

.a-for-footer {
    color:#2690d4;
    text-decoration: none;
}