* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

main{
    font-size:0px;
}

.header {
    display: flex;
    text-align: center;
    background: url('../img/header.png') no-repeat center center;
    background-size: cover;
    min-height: 54vh;
    justify-content: space-between;
    align-items: center;
    flex-flow: column nowrap; 
    opacity: 0.9;
}

.h1-for-header, .p-for-header, .a-for-header{
    color:white;
    line-height: 1.5;
    font-size:20px;     
}


.h1-for-header {
    font-size:38px;
    font-weight: bold;
    margin-top: 12vh;
}

.p-for-header {  
    padding:1% 20%;
    margin-bottom: 1vh;
}

.a-for-header, 
.a-for-header:hover {
    border: 1px solid #666;    
    padding: 15px 30px;
    text-decoration: none;
    margin-bottom: auto;
        
}

.a-for-header, .card-holder {
    background-color: #333;    
}

.a-for-header:hover{
    background-color: white;
    color:#666;   
    
}

.article-dev{
    padding:30px 0 40px 0;
}
.h1-dev-info{
    font-size: 26px;
    text-align: center;
    font-weight: bold;
}

.p-dev-info{
    font-size: 18px;    
    column-count: 2;   
    margin: 1% 25%;
}

.card-holder {
    display: flex;
    justify-content: center;    
}

.card {
    display: flex;
    flex-flow: column;
    background-color: white;
    width: 300px;
}